{% extends 'core/base.html' %}

{% block content %}
<div class="container">
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form.visible_fields %}
      <p>{{ field.label_tag }}{{ field }}</p>
      {% for error in field.errors %}
        <p style="color:red">{{ error }}</p>
      {% endfor %}
    {% endfor %}
    <button type="submit">Register</button>
  </form>
  {% if message %}
    <h3>{{ message }}</h3>
  {% endif %}
  <!--  -->
</div>
{% endblock %}
